---
import NextJSIcon from '../icons/NextJS.astro'

const TAGS = {
  NEXT: {
    name: 'Next.js',
    class: 'bg-black text-white',
    icon: NextJSIcon,
  },
}

const PROJECTS = [
  {
    title: 'Titulo del proyecto',
    description:
      'Donec iaculis neque vel est lacinia, non consectetur arcu euismod. Proin dapibus vulputate orci, non imperdiet ante placerat sit amet. Aliquam vitae dolor id risus sodales ultrices. Donec diam ipsum, rhoncus ut ante sollicitudin, tristique viverra mi. Fusce in diam nibh. Integer mauris neque, interdum sed viverra at, laoreet non ligula. Nulla facilisi. Nam ut purus felis. Nunc suscipit nibh vel sem dignissim aliquam.',
    link: 'https://svgl.vercel.apphttps://github.com/gabiprds93',
    github: 'https://github.com/gabiprds93',
    image: '/projects/project1.webp',
    tags: [TAGS.NEXT],
  },
]
---

{
  PROJECTS.map(({ title, description, tags, image }) => (
    <article class='text-white'>
      <h3 class='text-2xl font-semibold text-yellow-200 mb-2'>{title}</h3>

      <p class='text-lg mb-4 text-pretty'>{description}</p>

      <ul class='flex gap-2'>
        {tags.map((tag) => (
          <li class={`flex gap-2 rounded-full text-xs py-1 px-2 ${tag.class}`}>
            <tag.icon class='size-4' /> {tag.name}
          </li>
        ))}
      </ul>

      <img
        class='rounded shadow-2xl shadow-white/10'
        src={image}
        alt={`Captura de pantalla del proyecto ${title}`}
      />
    </article>
  ))
}
